In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import fastai
from tqdm import tqdm_notebook as tqdm

In [3]:
from fastai.vision import *

In [4]:
from pathlib import Path

In [5]:
from skimage.io import imread,imshow,imsave
import pandas as pd

In [8]:
train = pd.read_csv('train.csv')

In [9]:
train['ImageId'] = train['ImageId_ClassId'].map(lambda x: x.split('_')[0])

In [10]:
train.head()

,ImageId_ClassId,EncodedPixels,ImageId
0,0002cc93b.jpg_1,29102 12 29346 24 29602 24 29858 24 30114 24 3...,0002cc93b.jpg
1,0002cc93b.jpg_2,NaN,0002cc93b.jpg
2,0002cc93b.jpg_3,NaN,0002cc93b.jpg
3,0002cc93b.jpg_4,NaN,0002cc93b.jpg
4,00031f466.jpg_1,NaN,00031f466.jpg

In [11]:
train2 = pd.DataFrame({'ImageId':train['ImageId'][::4]})

In [12]:
train2['e1'] = train['EncodedPixels'][::4].values

In [13]:
train2.head()

          ImageId                                                 e1
0   0002cc93b.jpg  29102 12 29346 24 29602 24 29858 24 30114 24 3...
4   00031f466.jpg                                                NaN
8   000418bfc.jpg                                                NaN
12  000789191.jpg                                                NaN
16  0007a71bf.jpg                                                NaN

In [14]:
train2.reset_index(inplace=True,drop=True)

In [15]:
train2.fillna('',inplace=True); 
train2['count'] = np.sum(train2.iloc[:,1:]!='',axis=1).values

In [16]:
train2.head()

         ImageId                                                 e1  count
0  0002cc93b.jpg  29102 12 29346 24 29602 24 29858 24 30114 24 3...      1
1  00031f466.jpg                                                         0
2  000418bfc.jpg                                                         0
3  000789191.jpg                                                         0
4  0007a71bf.jpg                                                         0

In [17]:
np.sum(train2.iloc[:,1:]!='',axis=1).values

/home/ravi/miniconda3/envs/fastpy3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

array([2, 1, 1, 1, ..., 1, 1, 1, 1])